.face.material-icons {
  font-size: 50px;
  padding: 20px 0 0 40px;
}

ul > li > a {
  display: block;
  padding: 15px 25px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  border-radius: 4px 0 0 4px;
}
